default: pushitbot-demo

profiles:
  pushitbot-demo:
    service: pushitbot
    params:
      token: 105e48ff92b92263f3397ed55f275a81
      format: Markdown
  slack-demo:
    service: slack
    params:
      url: https://hooks.slack.com/services/T00000/B00000/XxXxXx
      channel: "#general"
      icon_emoji: tornado_cloud
  telegram-demo:
    service: telegram
    params:
      token: 999215559:BBGmxROBszzsQyLLLldyh_2jJrXzo0j-IIo
      chat_id: 123456
  requestbin-demo:
    service: requestbin
    params:
      url: https://en1opo1zkp99pt.x.pipedream.net/
      whatever: youwant
