default = "pushtome"

[pushtome]
service = "slack"
param.url = "https://hooks.slack.com/services/T00000/B00000/XxXxXx"
param.channel = "@fopina"
param.icon_emoji = "sunny"

[pushtoall]
service = "slack"
param.url = "https://hooks.slack.com/services/T00000/B00000/XxXxXx"
param.channel = "#general"
param.icon_emoji = "tornado_cloud"
